*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    background: #000000;
    color: #27DEBF;
    font-weight: 700;
    max-width: 100vw;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    max-width: 40vw;
    list-style: none;
    padding: 1vw;
    margin-left: 60vw;
    overflow-x: hidden;
}

header section{
    display: flex;
    background: #D9D9D9;
    justify-content: space-between;
    height: 65vh;
    max-width: 100vw;
}

.descripcion-personal{
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw 1.5vw;
}

.descripcion-personal-img{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2vw 0 2vw 0;
}

.descripcion-personal .titulo{
    font-weight: 700;
    font-size: 3vw;
}

.descripcion-personal .titulo span{
    color: #27DEBF;
}

.descripcion-personal button{
    width: 18vw;
    padding: 0.4vw;
    border-radius: 30px;
    background: #27DEBF;
    font-weight: 700;
}

.img-personal{
    width: 20vw;
    border-radius: 50px;
    margin-right: 2vw;
}

.descripcion-personal-img p{
    font-weight: 400;
    font-size: 1.5vw;
    margin-right: 3vw;
}

.descripcion-personal-img p span{
    font-weight: 700;
}

.conten-destacar{
    display: flex;
    padding: 3vw;
    align-items: center;
    justify-content: space-between;
}
.conten-destacar div{
    width: 40vw;
}

.conten-destacar img{
    width: 35vw;
    margin: 2vw 0;
}

.conten-destacar h2{
    margin-bottom: 2vw;
    font-weight: 700;
    font-size: 3vw;
}

.conten-destacar p{
    font-weight: 400;
    font-size: 1.6vw;
}
.conten-destacar span{
    font-weight: 700;
}

.conten-objetivo{
    background: #263238;
    margin: 0;
}

.conten-objetivo h2{
    text-align: center;
    font-size: 3vw;
    padding: 4VW;
}

.conten-objetivo span{
    color: #27DEBF;
}


.carousel {
    overflow: hidden;
    position: relative;
    max-width: 100vw;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

.carousel-item{
    flex: 0 0 calc(30% - 3vw);
    background: #000000;
    border-radius: 15px;
    padding: 1vw;
    padding-top: 0;
    margin: 1vw 2vw;
}

.content_objetivo_contactarme{
    background-color: #D9D9D9;
}

.carousel-item div{
  background: #27DEBF;
  width: 10vw;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  margin: 0px auto;
  margin-bottom: 1.5vw;
}

.carousel-item img{
    max-width: 5vw;
    padding: 1vw;
}

.carousel-item p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.6vw;
  padding: 1.5vw;
  padding-top: 0;
}

.carousel-item span{
  font-weight: 700;
  color: #FFFFFF;
}


.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5vw;
}

.btn-prev,
.btn-next {
  background: transparent;
  color: #27DEBF;
  font-weight: 900;
  border: none;
  font-size: 3vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
  cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover {
  color: #000000;
}

.content_contactarme{
    background-color: #D9D9D9;
    margin: 0;
}

.title-porque{
    text-align: center;
    margin: 2vw;
    font-weight: 700;
    font-size: 3vw;
}

.content-porques{
    display: flex;
    flex-wrap: wrap;
}


.content-porque{
    max-width: 43.9vw;
    margin: 2.5vw;
    display: flex;
}

.content-porque .content-img .img{
    border-radius: 50px;
    width: 6vw;
    height: 6vw;
    background-color:#000000;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6vw;
}

.content-img{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-img img{
    width: 4vw;
}

.content-img .barra{
    background-color: #000000;
    width: 0.6vw;
    height: 100%;
    color: transparent;
}

.content-porque-title{
    background-color: #000000;
    color: #27DEBF;
    font-weight: 700;
    padding: 1vw;
    font-size: 2vw;
    margin-left: 1vw;
    width: 100%;
}

.content-porque-content{
    font-weight: 400;
    font-size: 1.73vw;
    margin-left: 1vw;
    margin-bottom: 1.5vw;
}

.content-porque-content span{
    font-weight: 700;
}